@model FinalProject.ViewModels.vmMenuDetails
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="vincentTitle">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="innerText">
                        <h1>product detail</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="singleProduct">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product">
                        <div class="image" style="background-image:url(/Uploads/@Model.Menu.Image)"></div>
                        <div class="detail">
                            <h1>@Model.Menu.Name</h1>
                            <span class="price">$ @Model.Menu.Price</span>
                            <p>
                               @Model.Menu.Description
                            </p>

                            @*<input type="number" value="0">*@
                            <a href="#" class="addtoCart" data-id="@Model.Menu.Id">Add to cart ></a>
                        </div>
                        <div class="description">
                            <ul>
                                <li class="main">
                                    <h5 class="desc">Description</h5>
                                </li>
                                <li class="main2">
                                    <h5 class="desc2">Additional information</h5>
                                </li>
                            </ul>
                            <p class="text">
                               @Model.Menu.Description
                            </p>
                            <div class="aboutProduct">
                                <h4>Weight</h4>
                                <span>@Model.Menu.Weight kg</span>
                            </div>
                            <div class="aboutProduct2">
                                <h4>Dimension</h4>
                                <span>@Model.Menu.Dimentions</span>
                            </div>
                        </div>
                        <div class="realtedProducts">
                            <h2 class="title">Related products</h2>
                                @foreach (var item in Model.Menus.Take(3))
                                {
                                    <div class="item">
                                        <img src="~/Uploads/@item.Image" alt="">
                                        <h2 class="subtitle"><a href="@Url.Action("Details","Menu", new { Id=item.Id})">@item.Name</a></h2>
                                        <p>@(item.Description.Length>30 ? item.Description.Substring(0,30): item.Description)</p>
                                        <span>$ @item.Price</span>
                                        <a class="add addtoCart" data-id="@item.Id" href="#">add to cart ></a>
                                    </div>
                                }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="rightSideTags">
                        <h6>Tags</h6>
                        @foreach (var item in Model.Tags.OrderByDescending(o => o.Name).Take(7))
                        {
                            <a href="@Url.Action("Index","Blogs", new { tag=item.Name})" name="tag">#@item.Name</a>
                        }
                    </div>
                    <div class="posts">
                        <h6>Featured Menu Items</h6>
                        @if (Model.Menus != null)
                        {
                            foreach (var item in Model.Menus.OrderByDescending(o=>o.Id).Take(2))
                            {
                                <div class="post">
                                    <img src="~/Uploads/@item.Image" alt="">
                                    <a href="@Url.Action("Details","Menu", new { Id=item.Id})">
                                        <h4>@item.Name</h4>
                                    </a>
                                    <span>$ @item.Price</span>
                                </div>
                            }
                        }

                    </div>

                    <div class="instaFeed">
                        <h6>Instafeed</h6>
                        @foreach (var item in Model.InstaFeeds.Take(6))
                        {
                            <a href="@item.Link">
                                <img src="~/Uploads/@item.Image" alt="">
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="goTopBtn">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="goTop">
                        <i class="fas fa-chevron-up animate heartBeat"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

